
@font-face {
  font-family: "raleway-semi-bold";
  src: url(assets/fonts/Raleway/Raleway-SemiBold.ttf);
}

@font-face {
  font-family: "montserrat";
  src: url(assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf)
}

*{
  box-sizing: border-box;
  /* border: 1px solid; */
}

body {
font-family: "montserrat", sans-serif;
min-height: 100vh;
margin: 0;
padding: 0;
font-size: 16px;
background-color: #FFFFE0;
line-height: 2;
}


.container {
  max-width: 1440px;
  margin: 0 auto;
}

.nav-item{
  max-height: 60px;
}

.footer {
  max-height: 60px;
}


.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
  background-color: #BDB76B;
}

html {
  scroll-behavior: smooth;
}

.nav-link {
  padding: 0 15px;
  line-height: 60px;
  text-decoration: none;
  text-transform: capitalize;
  position: relative;
  color: black;
}

.nav-link::after {
  content:"";
  background-color: black;
  position: absolute;
  top: 20px;
  left: 10%;
  width: 0%;
  height: 1px;
  transition: width 0.6s cubic-bezier(0.33, 1, 0.68, 1);
}

.nav-link:hover::after {
  width: 80%;
}

.section {
  width: 50%;
}

.section-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin: auto;
 
}

.photo {
  height: 200px;
  border-radius: 100px;
}

.main {
  max-width: 80%;
  margin: auto;
}

.main .container{
  display: flex;
  flex-wrap: wrap;
}

.footer .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #BDB76B;
  
}
.logo-ref {
  height: 60px;
  display: flex;
  padding: 15px;
}


.section-logo {
  align-items: center;
  list-style: none;
  margin-left: auto;
}

.section.name {
  padding-top: 30px;
}

@media (max-width: 768px) {
  .section {
    width:100%;
  }
}

.h1 {
  font-family: "raleway-semi-bold", sans-serif;
  font-size: 40px;
  margin: 0;
}

.degree {
  font-family: "raleway-semi-bold", sans-serif;
  font-size: 20px;
  margin: 0;
} 

.contacts {
  list-style: none;
  padding: 0;
}

.contacts-item {
  display: flex;
  align-items: center;
}

.contact-link {
  text-decoration: none;
  color: black;
}

.contacts-item::before {
  display: flex;
  content: "";
  height: 20px;
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

.location::before {
  background-image: url(assets/svg/location.svg);
}

.e-mail::before {
  background-image: url(assets/svg/e-mail.svg);
}

.github::before {
  background-image: url(assets/svg/github.svg);
}

.telegram::before {
  background-image: url(assets/svg/telegram.svg);
}

.discord::before {
  background-image: url(assets/svg/discord.svg);
}

.list {
  list-style: none;
  padding: 0;
}

.list-item {
  display: flex;
  align-items: center;
}

.list-item::before{
  display: flex;
  content: "";
  height: 18px;
  width: 18px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(assets/svg/check.svg);
  margin-right: 7px;

}

.pre {
  height: 80px;
}

.section-title {
  border-radius: 20px 20px 20px 20px;
  background-color: #BDB76B;
  max-width: 80%;
  text-transform: uppercase;
  padding-left: 10px;

}

.summary {
  max-width: 80%;
}
